.home {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .related-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .related-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .related-card {
    position: relative;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
  }
  
  .related-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro semi-transparente */
    color: white;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }
  
  .related-card:hover img {
    opacity: 0.7; /* Efeito de escurecer a imagem */
  }
  
  .related-card:hover .card-overlay {
    opacity: 1; /* Exibir o overlay com o texto */
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garantir que a altura mínima seja 100% da tela */
  }
  
  main {
    flex: 1; /* Faz com que o main ocupe todo o espaço disponível entre o Header e o Footer */
  }
  
  footer {
    background-color: #333; /* Defina a cor de fundo do footer */
    color: white;
    text-align: center;
    padding: 10px 0;
  }

  .highlight {
    color: #4CAF50; /* Exemplo de cor verde */
  }
  
  .api-section {
    margin-top: 20px;
  }
  
  .btn-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Cor verde */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
  }
  
  .btn-link:hover {
    background-color: #45a049; /* Efeito de hover */
  }
  