body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
  }

  /* Garanta que o corpo e o HTML ocupem 100% da altura da tela */
html, body {
  height: 100%;
  margin: 0;
}

/* A aplicação como flex container, com uma direção de coluna */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garantir que a altura mínima seja 100% da altura da tela */
}

main {
  flex: 1; /* O conteúdo principal vai crescer e ocupar todo o espaço disponível */
}

footer {
  background-color: #333; /* Cor do fundo do footer */
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
}

/* Estilo geral para o conteúdo */
.home {
  padding: 20px;
  /* Outras estilizações específicas para a página Home */
}

.sobre {
  padding: 20px;
  /* Outras estilizações específicas para a página Sobre */
}

/* Caso queira garantir que o conteúdo não sobreponha o Footer, insira o espaçamento necessário */
.content-wrapper {
  min-height: 100%; /* Garantir que o conteúdo preencha ao menos 100% da altura da página */
}
